PORT=5001

# Keep secrets in .env only (do not commit)
RAPIDAPI_KEY=


# JSearch config
JSEARCH_BASE_URL=https://jsearch.p.rapidapi.com
JSEARCH_HOST=jsearch.p.rapidapi.com
JSEARCH_SEARCH_PATH=/search
JSEARCH_QUERY_DEFAULT=full stack developer jobs in india
JSEARCH_PAGES=1

# Naukri role discovery config
NAUKRI_BASE_URL=https://naukri-job-market-intelligence-api.p.rapidapi.com
NAUKRI_HOST=naukri-job-market-intelligence-api.p.rapidapi.com
NAUKRI_DISCOVERY_PATH=/naukri/discovery/roles
